# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log
*.tfplan

# SSH Keys (do NOT commit your private key!)
*.pem
*.key
id_rsa

# Ansible
*.retry
inventory.ini
inventory.sh.output

# Jenkins
jenkins_home/
secrets/
*.log

# Docker
*.pid
*.sock
docker-compose.override.yml

# System & Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# Python (if using Ansible via pip)
__pycache__/
*.pyc
.env
.venv/

# Workspace (Jenkins mounts)
workspace/
